{% extends 'base.html' %} {% load static %} {% block content %} {% include 'includes/alerts.html' %} <div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Billing Address</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <form action="{% url 'place_order' %}" method="POST"> {% csrf_token %} <div class="row">
                                                <div class="form-group col-md-6 col lg-6 col-sm-12 "> First Name: {{ form.first_name }} </div>
                                                <div class="form-group col-md-6 col lg-6 col-sm-12 "> Last Name: {{ form.last_name }} </div>
                                                <div class="form-group col-md-6 col lg-6 col-sm-12 "> Contact: {{ form.phone }} </div>
                                                <div class="form-group col-md-6 col lg-6 col-sm-12 "> Email: {{ form.email }} </div>
                                                <div class="form-group col-md-12 col lg-12 col-sm-12 "> Address: {{ form.address }} </div>
                                                <div class="form-group col-md-6 col lg-6 col-sm-12 "> Country: {{ form.country }} </div>
                                                <div class="form-group col-md-6 col lg-6 col-sm-12 "> State: {{ form.state }} </div>
                                                <div class="form-group col-md-6 col lg-6 col-sm-12 "> City: {{ form.city }} </div>
                                                <div class="form-group col-md-6 col lg-6 col-sm-12 "> Pin Code: {{ form.pin_code }} </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- YOUR ORDERS SECTION -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <ul> 
                                            <!-- LOOP THROUGH FOOD ITEM --> {% for item in cart_items %} <li id="cart-item-{{ item.id }}">
                                                <div class="image-holder"> <a href="assets/extra-images/cover-photo12-1024x187.jpg"><img src="{{ item.fooditem.image.url }}" alt=""></a></div>
                                                <div class="text-holder">
                                                    <h6>{{ item.fooditem }}</h6>
                                                    <span>{{ item.fooditem.description }}</span>
                                                    <a href="{% url 'vendorDetail' item.fooditem.vendor.vendor_slug  %}" class="badge badge-warning">{{ item.fooditem.vendor }}</a>
                                                </div>
                                                <div class="quantity" style="display: inline-block; position: absolute; top: 50%; transform: translateY(-50%); margin-top: -10px;">
                                                    <span>{{ item.quantity }} QTY</span>
                                                </div>
                                                <div class="price-holder">
                                                    <span class="price">{{ item.fooditem.price }}</span>
                                                </div>
                                            </li> {% endfor %} 
                                    </div>
                                    <div>
                                        <ul>
                                            <li style="list-style-type: none;"> Subtotal <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li> {% for key, value in tax_dict.items %} {% for i, j in value.items %} <li style="list-style-type: none;"> {{ key }} <small>({{ i }}%)</small>
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="tax-{{ key }}">{{ j }}</span>
                                                </span>
                                            </li> {% endfor %} {% endfor %} <li style="list-style-type: none; font-weight: 600;"> Total <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="total">{{ grand_total }}</span>
                                                </span>
                                            </li>
                                            {% comment %} SELECT PAYMENT METHOD {% endcomment %}
                                            <h5>SELECT PAYMENT METHOD</h5>
                                            <div class="payment-method">
                                                <label for="">
                                                    <input type="radio" name="payment_method" id="" value="PayPal">
                                                    <img src="{% static 'images/PayPal.png' %}" alt="" width="100">
                                                </label>
                                                &emsp;
                                                <label for="">
                                                    <input type="radio" name="payment_method" id="" value="RazorPay">
                                                    <img src="{% static 'images/razorpay_logo.png' %}" alt="" width="100">
                                                </label>
                                            </div>
                                            
                                            <span class="text-danger" id="payment-method-error"></span>
                                            <button type="submit" onclick="return payMethodConfirm();" class="btn btn-danger w-100 p-2 mt-3">PLACE ORDER</button>
                                        </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


<script>
    function payMethodConfirm(){
        let payMethod = $('input[name="payment_method"]:checked').val();
        if(payMethod == undefined){
            $('#payment-method-error').text('Please select a payment method');
            return false;
        }
        else{
            var conf = confirm('Are you sure you want to place order with the payment method ' + payMethod + '?');
            if (conf == true) {
                return true;
            }
            else{
                return false;
            }
        }
    }

    
    $('input[name="payment_method"]').on('change', function(){
        $('#payment-method-error').text('');
    });
</script>

{% endblock %}